<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.a14vfilm">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:name=".models.UserLogin"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.14VFilm">
        <activity
            android:name=".adminActivity.ViewGenreDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ViewGenreActivity"
            android:exported="false" />
        <activity
            android:name=".home.SearchActivity"
            android:exported="false" />
        <activity
            android:name=".more.InfoActivity"
            android:exported="false" />
        <activity
            android:name=".detail.CommentActivity"
            android:exported="false" />
        <activity
            android:name=".sellerActivity.SellerFilmListActivity"
            android:exported="false"
            android:parentActivityName=".sellerActivity.SellerHomeActivity" />
        <activity
            android:name=".sellerActivity.SellerHomeActivity"
            android:exported="false" />
        <activity
            android:name=".more.FavoriteActivity"
            android:exported="false" />
        <activity
            android:name=".detail.CheckoutActivity"
            android:exported="false" />
        <activity
            android:name=".sellerActivity.SellerUploadFilmActivity"
            android:exported="false"
            android:parentActivityName=".MainActivity" />
        <activity
            android:name=".detail.DetailActivity"
            android:exported="false" />
        <activity
            android:name=".signup.SignupActivity"
            android:exported="false" />
        <activity
            android:name=".login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ViewFilmDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ViewFilmsActivityAdmin"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ViewUserDetailActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.AddNewUserAdminActivity"
            android:exported="false" />
        <activity
            android:name=".adminActivity.ViewUserActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>